numpy==1.26.4
kivymd
opencv-contrib-python
jax==0.5.0
jax-metal
colour-science
scikit-image
rawpy
lensfunpy
pyexiftool
setuptools
wheel
torch
torchvision
wand
watchfiles
screeninfo
pyopencl
numba
thop
einops
timm