numpy==1.26.4
kivymd
facer
opencv-contrib-python
jax==0.5.0
jax-metal
colour-science
scikit-image
rawpy
lensfunpy
pyexiftool
setuptools
wheel
torch
torchvision
wand
watchfiles
screeninfo
pyopencl
numba
thop
einops
timm
matplotlib
mediapipe
typer
typer_config
fastapi
diffusers==0.27.2
omegaconf
transformers
huggingface_hub
etils
